@model prueba2.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSolicitudPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSolicitudPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAprobacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAprobacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTermino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TasaInteres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TasaInteres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoAmortizacionMeses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoAmortizacionMeses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aprovado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aprovado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vigencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vigencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteFiadorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteFiadorNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientePrestatarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientePrestatarioNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGarantiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGarantiaNavigation.IdGarantia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPrestamo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
